/*This sets the background image for the articles*/
.header_specials{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4, 9, 30, 0.7)), url(../Images/specials.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}